astropy==5.3.4
dace_query==1.1.0
matplotlib==3.8.1
methodtools==0.4.7
numba==0.58.1
numpy==1.26.1
pandas==2.1.3
pynbody==1.4.2
Requests==2.31.0
ruamel.base==1.0.0
scikit_learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
statsmodels==0.14.0
unyt==2.9.5
yt==4.3.0
